node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

google-services.json
app.json
newfypchatbot-8b49e-firebase-adminsdk-u2zms-210a7c7c29.json